<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>评委管理</title>
		<script src="~/Scripts/jquery-3.4.1.js"></script>
		<script src="../../Source/packages/layui/layui.js"></script>
		<script src="../../Scripts/Project/Expert/expert.js"></script>
		<link rel="stylesheet" href="../../Source/packages/layui/css/layui.css">
	</head>
	<body>
		<blockquote class="layui-elem-quote layui-quote-nm">
			<form class="layui-form">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">按项目查询</label>
						<div class="layui-input-inline">
							<select id="searchProject" name="searchProject" lay-verify="required" lay-filter="searchProject">
								<option value="">请选择待查询项目</option>
							</select>
						</div>
					</div>
				</div>
			</form>
		</blockquote>
		<blockquote class="layui-elem-quote layui-quote-nm">
			<!--评委信息的表格-->
			<table id="table_expert" lay-filter="table_expert"></table>
		</blockquote>
		<script type="text/html" id="statusbar">
		    {{# if(d.Status === '未投票'){ }}
		    <span style="color:#ff0000;">未投票</span>
		    {{#  } }}
		    {{# if(d.Status === '已投票'){ }}
		    <span style="color:#00CD00;">已投票</span>
		    {{#  } }}
		</script>
		<script type="text/html" id="toolbar">
			<a class="operation" style="margin-left: 10px;" lay-event="showCode" title="获取二维码">
				<i class="layui-icon layui-icon-picture"></i>二维码
			</a>
		</script>
	</body>
</html>
