<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>项目管理</title>
		<script src="~/Scripts/jquery-3.4.1.js"></script>
		<script src="../../Source/packages/layui/layui.js"></script>
		<script src="../../Scripts/Project/Project/Project.js"></script>
		<link rel="stylesheet" href="../../Source/packages/layui/css/layui.css">
	</head>
	<body>
		<blockquote class="layui-elem-quote layui-quote-nm">
			<button class="layui-btn" onclick="btn_addVote()">新增投票</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<i class="layui-icon layui-icon-download-circle"><a href="" width="300" style="color:deepskyblue" height="300">点击下载项目文件模版</a></i>
		</blockquote>
		<blockquote class="layui-elem-quote layui-quote-nm">
			<!--投票项目的表格-->
			<table id="table_vote"></table>
		</blockquote>
		<!--新增投票的弹窗-->
		<div style="" id="div_addVote">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label"><span style="color:red">*</span>项目名称</label>
					<div class="layui-input-inline">
						<input type="text" name="projectName" id="projectName" lay-verify="required" placeholder="请输入项目名称" autocomplete="off" class="layui-input"> 
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label"><span style="color:red">*</span>备注</label>
					<div class="layui-input-block">
						<textarea name="projectRemark" id="projectRemark" lay-verify="required" placeholder="请输入备注（评奖要求等）" autocomplete="off" class="layui-textarea"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label"><span style="color:red">*</span>评审方式</label>
					<div class="layui-input-inline">
						<input type="radio" name="radio_method" id="radio_vote" value="投票" title="投票" class="layui-form-radio" checked>
						<input type="radio" name="radio_method" id="radio_score" value="评分" title="评分">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label"><span style="color:red">*</span>评委人数</label>
					<div class="layui-input-inline">
						<input type="text" name="expertCount" id="expertCount" lay-verify="required" placeholder="请输入评委人数" autocomplete="off" class="layui-input"> 
					</div>
				</div> 
				<div class="layui-form-item">
					<label class="layui-form-label"><span style="color:red">*</span>开始时间</label>
					<div class="layui-input-inline">
						<input type="text" name="startDate" id="startDate" lay-verify="required|date" placeholder="点击选择投票开始时间" autocomplete="off" class="layui-input"> 
					</div>
				</div> 
				<div class="layui-form-item">
					<label class="layui-form-label"><span style="color:red">*</span>结束时间</label>
					<div class="layui-input-inline">
						<input type="text" name="endDate" id="endDate" lay-verify="required|date" placeholder="点击选择投票结束时间" autocomplete="off" class="layui-input"> 
					</div>
				</div> 
				<div class="layui-form-item">
					<label class="layui-form-label"><span style="color:red">*</span>项目文件</label>
					<div class="layui-input-inline">
						<button type="button" class="layui-btn layui-btn-sm" id="btn_selectFile"><i class="layui-icon layui-icon-upload-drag"></i>选择文件</button>
						<button type="button" class="layui-btn layui-btn-sm" id="btn_updateFile"><i class="layui-icon layui-icon-upload"></i>开始上传</button>
					</div>
				</div> 
				
			</form>
		</div>
	</body>
</html>
