<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>投票管理系统</title>
    <script src="../../Source/packages/layui/layui.js"></script>
    <script src="../../Scripts/Project/Login/Login.js"></script>
    <script src="../../Scripts/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="../../Source/packages/layui/css/layui.css">
</head>
<body>
    <div class="layui-bg-gray" style="width:800px;height:450px;border:1px solid black;position:absolute;top:50%;left:50%;margin:-225px 0 0 -400px;text-align:center;">
        <div>
            <br /><br /><br /><br />
            <img src="../../Source/images/login.jpg" style="width: 100px;height: 100px;" alt="图片加载失败啦..." title="Welcome~" />
            <h3>
                <i class="layui-icon layui-icon-rate-solid" style="font-size:30px;color:#ffd800;"></i>
                <strong>投票管理系统</strong>
                <i class="layui-icon layui-icon-rate-solid" style="font-size:30px;color:#ffd800;"></i>
            </h3>
            <br /><br />
            <i class="layui-icon layui-icon-user" style="font-size:20px;color:black;"></i>
            账号：<input type="text" id="account" placeholder="请输入账号" class="layui-edit" autocomplete="off" />
            <br /><br />
            <i class="layui-icon layui-icon-password" style="font-size:20px;color:black;"></i>
            密码：<input type="password" id="password" placeholder="请输入密码" class="layui-edit" autocomplete="off" />
            <br /><br />
            <button class="layui-btn" id="login">登录</button>
            <br /><br />
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - <a href="https://github.com/yashuangyi" title="我的GitHub">亚双义、一真</a></p>
            </footer>
        </div>
    </div>
</body>
</html>
